/* Shared-start */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    width: 90vw;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    padding: 1.25rem 1.5rem;
    cursor: pointer;
    border: 0;
}

.content-title {
    color: var(--dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
}

.content-description {
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 1.6rem;
}

.facts,
.sponsor {
    width: 90%;
    margin: 1.5rem auto;
}

/* shared-end */

/* header-start */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 3.5rem 15rem;
}

/* navigation-start */

.nav-title {
    font-size: 3rem;
    color: var(--dark-01, #131313);
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 1.5rem 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* navigation-end */

/* banner-start */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 1.5rem auto;
}

.banner-title {
    color: var(--dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
    margin: 1.5rem 0;
}

.banner img {
    margin-top: 1.25rem;
    width: 100%;
}

/* banner-end */
/* Header-end */

/* teams-start */

.teams {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teams>div {
    width: 40%;
    margin: 1.5em 0;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.teams-img-container>img {
    width: 100%;
}

.teams-content>h2 span:first-child {
    color: var(--dark-03, #727272);
    font-size: 2.81rem;
    font-weight: 500;
}

.teams-content>h2 span:nth-child(2) {
    color: var(--dark-01, #131313);
    font-size: 2.81rem;
    font-weight: 700;
}

.teams-content>h2 span:last-child {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

/* teams-end */

/* feature-start */

.feature {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem auto;
}

.feature>div {
    width: 40%;
}

.feature-content>div {
    margin-bottom: 1.2rem;
}

.feature-content h2 {
    border-left: 5px solid #FF900E;
    padding-left: 0.5rem;
    margin: 2rem 0;
}

.feature-card {
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
}

.feature img {
    width: 100%;
}

.exp-style {
    border-radius: 8px;
    background: #FF900E;
    width: max-content;
    text-align: center;
    padding: 1.8rem 2rem;
    position: relative;
    bottom: 4rem;
    right: 3rem;
}

.exp-style>p {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.exp-style span {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 500;
}

/* feature-end */


/* facts-start */

.facts-card-container {
    display: flex;
    gap: 5%;
    margin: 2.5rem 0;
}

.facts-card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 1.3rem 1.2rem 1.8rem;
    width: 70%;
}

/* facts-end */

/* sponsor-start */
.sponsor-content {
    text-align: center;
    margin: 5.5rem auto 3.5rem;
}

.sponsor-img-container {
    display: flex;
    gap: 5%;
}

.sponsor-img-container>img {
    width: 100%;
}

/* sponsor-end */

/* footer-start */
footer {
    background-color: #FFF4E7;
    width: 90%;
    height: 4rem;
    text-align: center;
    padding-top: 2rem;
    margin: 5rem auto;

}

/* footer-end */

/* responsive media queries */
/* mobile / small devices */

@media screen and (max-width:576px) {
    header {
        padding: 1.25rem;
    }

    nav,
    .teams-img-container {
        display: flex;
        flex-direction: column;
    }

    .teams,
    .feature {
        flex-direction: column-reverse;
    }

    .teams>div,
    .feature>div {
        width: 100%;
    }

    .teams-img-container {
        display: none;
    }

    .facts-card-container,
    .sponsor-img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsor-img-container>img:last-child {
        grid-column: 1/span 2;
    }
}

/* tablet / medium devices */

@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 1.5rem;
    }

    nav {
        flex-direction: column;
    }

    .teams {
        flex-direction: row-reverse;
    }

    .teams>div {
        width: 100%;
    }

    /* feature-grid-start */
    .feature {
        align-items: center;
        margin-top: 0;
    }

    .feature>div:first-child {
        width: 60%;
    }

    .feature>div:last-child {
        width: 40%;
    }

    .feature-content {
        display: grid;
        grid-template: auto repeat(2, 1fr)/repeat(2, 1fr);
        gap: 0.5rem;
        align-items: stretch;
    }

    .feature-content>div:first-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .feature-content>div:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .feature-content>div:nth-child(2) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .feature-content>div:nth-child(2) {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .feature-content>div:nth-child(2) {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .exp-style {
        position: static;
    }

    /* feature-grid-end */
    .sponsor-img-container {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
    }

    .sponsor-img-container>img {
        width: fit-content;
    }
}